.slideshow-container{
    width: 100%;
    height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.fondo{
    width: 100%;
    height: 58vh;
    background-size: cover;
    background-image: url(../img/casa.png);
    display: flex;
}

.genesisescena2{
    
    width: 10%;
    margin-top: 10rem;
    margin-left: 27rem;

}

.genesisanimacion{
    animation: genesis 1s forwards;
}

@keyframes genesis {
    0% {
        margin-left: 27rem;
      }
    
      100% {
        margin-left: 28.2rem;
      }

}

.alaka{
    width: 10rem;
    position: absolute;
    margin-top: 10rem;
    margin-left: 15rem;
}
.alakaanimacion{
    animation: alaka 6s forwards;
}

@keyframes alaka {
    0% {
        margin-left: 27rem;
      }
    
      100% {
        margin-left: 28.2rem;
      }
    }
.llama{
    width: 10rem;
    height: 15rem;
    margin-top: 10rem;
    margin-left:45rem;
    position: absolute;
}

.llamaanicacion{
    animation: llama 0.5s infinite;
}

@keyframes llama {
    0% {
        opacity: 0;
      }
    
      100% {
        opacity: 100;
      }
}


